/exercise1.html
/exercise2.html
/exercise3.html
/exercise4.html
/exercise5.html
/exercise6.html
/exercise7.html
/exercise8.html
/fahique.html
/fahique1.css
/fahique2.css
/fahique3.css
/fahique4.css
/feedback2.html
/feedback2a.css
/feedback3.html
/feedback3a.css
/IMG.jpg
/inistagram.css
/instagram.html
/student.html
/studenta.css
/tut1.js
/tut10.html
/tut11.html
/tut4.html
/tut5.html
/tut6.html
/tut7.html
/tut8.html
/tut9.html